<img class="reserve__img" src="{{image}}" alt="item">
  <div class="reserve__info">
    <p class="reserve__name">{{name}}</p>
    <div class="reserve__count"><span class="reserve__count_price" data-id="{{id}}">{{amount}}x</span> ${{price}}</div>
  </div>
  <button class="reserve__button" data-id="{{id}}"><i class="far fa-times-circle" data-id="{{id}}"></i></button>