{{#each data}}
<article class="basket__product" data-id="{{id}}">
            <div class="basket__info">
              <div class="basket__img"><img src="{{image}}" alt="{{name}}"></div>
              <div class="basket__name_wrapper">
                <a href="../product.html?id={{id}}" class="basket__name link" data-id="{{id}}">{{name}}</a>
                <div class="basket__category">{{#each categories}}{{name}}, {{/each}}</div>
                <button class="basket__services" data-id="{{id}}">Add services</button>
              </div>
            </div>
            <div class="basket__price">${{price}}</div>
            <div class="basket__button_wrapper">
              <button class="basket__button basket__less">4</button>
              <p class="basket__count">{{amount}}</p>
              <button class="basket__button basket__more">5</button>
            </div>
            <div class="basket__total" data-id="{{id}}">${{times price amount}}</div>
            <div class="basket__delete" data-id="{{id}}"><i class="far fa-times-circle" data-id="{{id}}"></i></div>
          </article>
{{/each}}