<div class="reserve__img">
<img src="{{image}}" alt="item">
</div>
  <div class="reserve__info">
    <a href="../product.html?id={{id}}" class="reserve__name cart__link">{{name}}</a>
    <div class="reserve__count"><span class="reserve__count_price" data-id="{{id}}">{{amount}}x</span> ${{price}}</div>
  </div>
  <button class="reserve__button" data-id="{{id}}"><i class="far fa-times-circle" data-id="{{id}}"></i></button>