{{#each data}}
 <article class="products__product product"> <div class="product__wrapper product_sale product_new product_sale_new_deals">
            <div class="product__img_wrapper">
                <img class="product__img product__img_deals" src="{{image}}" alt="{{name}}" />
                <div class="product__hover hover">
                  <div class="hover__box box_like" data-id="{{id}}"><i class="icon-like"></i></div>
                  <div class="hover__bottom">
                      <div class="hover__box box_reload" data-id="{{id}}"><i class="icon-reload"></i></div>
                      <button class="hover__button button_small" data-id="{{id}}"><i class="hover__button_img icon-cart" src="img/cart.png" alt="cart"></i>Add to cart</button>
                      <div class="hover__box box_search" data-id="{{id}}"><i class="icon-search"></i></div>
                  </div>
                </div>
                </div>
                <div class="product__ratings ratings"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i><i class="far fa-star"></i></div>
                <p class="product__name">{{name}}</p>
                <p class="product__price">${{price}} <span>${{price}}</span></p>
              </div>
          </article>
{{/each}}