{{#each data}}
<article class="display__product product product__list" data-id="{{id}}">
    <div class="product__wrapper">
      <div class="product__img_wrapper">
        <img class="product__img" src="{{image}}" alt="{{name}}" />
      </div>
      <div class="product__description">
            <a href="./product.html?id={{id}}" class="product__name" title="product details">{{name}}</a>
            <p class="product__price">${{price}}</p>
            <p>{{description}}</p>
      </div>
      <div class="product__hover hover">
        <div class="hover__bottom">
            <button class="hover__button_round"><i class="icon-like"></i></button>
            <button class="hover__button_round"><i class="icon-reload"></i></button>
            <button class="hover__button_round cart__button" data-id="{{id}}"><i class="hover__button_img icon-cart" src="img/cart.png" alt="cart"></i></button>
            <a href="./product.html?id={{id}}" class="hover__button_round" title="product details"><i class="icon-search"></i></a>
        </div>
      </div>
    </div>
  </article>
  {{/each}}